
<div class="container">

<!-- GRATCHCARD START -->

<div class="gratch">

<div class="row gratch_card">

  <div class="row gratch_preview">

    <div class="col-xs-4 card_picture">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suprb/128.jpg" class="img img-circle" width="70px" height="70px">
    </div>

    <div class="col-xs-8 card_details">
     <!--  <h4>Wien // 18.08.2014 // 7pm</h4> -->
      <h3>Paul</h3>
      <p>and 3 friends are hosting a<br><span class="party_type">HOUSEPARTY</span></p>
    </div>

  </div>

</div>

<!-- START OVERVIEW DETAILS -->


<div class="row gratch_header">
  <div class="col-xs-4">
    <p><i class="fa fa-calendar-o fa-2x"></i><br>18.08.2014</p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-clock-o fa-2x"></i><br>8.30pm</p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-home fa-2x"></i><br>Vienna</p>
  </div>

</div>

<!-- END OVERVIEWDETAILS -->

<!-- START SPECIFIC DETAILS -->

<div class="row gratch_header">
  <div class="col-xs-4">
    <p><i class="fa fa-male fa-2x"></i><br>100% Boys</p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-heart fa-2x"></i><br>75% Singles</p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-glass fa-2x"></i><br>Free Drinks</p>
  </div>

</div>



<!-- END SPECIFIC DETAILS -->

<div class="row gratch_header click_list">
  <div class="col-xs-4">
    <p><i class="fa fa-users fa-2x"></i><br>Paul's guests</p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-navicon fa-2x"></i><br>Gratch Details</p>
  </div>
  <div class="col-xs-4" style="color: #e74c3c">
    <p><i class="fa fa-check fa-2x"></i><br>Join them</p>
  </div>

</div>





<!-- START FRIENDLIST -->

<div class="friends">

<!-- START FRIIENDLIST-ITEM -->
<div class="row gratch_card">

  <div class="row gratch_preview">

    <div class="col-xs-4 card_picture">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dannpetty/128.jpg" class="img img-circle" width="70px" height="70px">
    </div>

    <div class="col-xs-4 card_details friend_list">

      <h4>GUEST</h4>
      <h3>Peter</h3>
      <p>31 years old</p>
    </div>

    <div class="col-xs-4 facebook_logo">

      <a href=""><img src="http://3.bp.blogspot.com/-ZEMBg7Sl--4/U8K3mJW2MPI/AAAAAAAAAYg/I6NRd4-wmIM/s1600/facebook-logo-png-white-5117.png" width="40px" height="40px"> </a>

    </div>

  </div>

</div>
<!-- END FRIENDLIST-ITEM -->

<!-- START FRIIENDLIST-ITEM -->
<div class="row gratch_card">

  <div class="row gratch_preview">

    <div class="col-xs-4 card_picture">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/chandlervdw/128.jpg" class="img img-circle" width="70px" height="70px">
    </div>

    <div class="col-xs-4 card_details friend_list">

      <h4>GUEST</h4>
      <h3>Johannes</h3>
      <p>34 years old</p>
    </div>

    <div class="col-xs-4 facebook_logo">

      <a href=""><img src="http://3.bp.blogspot.com/-ZEMBg7Sl--4/U8K3mJW2MPI/AAAAAAAAAYg/I6NRd4-wmIM/s1600/facebook-logo-png-white-5117.png" width="40px" height="40px"> </a>

    </div>

  </div>

</div>
<!-- END FRIENDLIST-ITEM -->

<!-- START FRIIENDLIST-ITEM -->
<div class="row gratch_card">

  <div class="row gratch_preview">

    <div class="col-xs-4 card_picture">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/flashmurphy/128.jpg" class="img img-circle" width="70px" height="70px">
    </div>

    <div class="col-xs-4 card_details friend_list">

      <h4>GUEST</h4>
      <h3>Philipp</h3>
      <p>28 years old</p>
    </div>

    <div class="col-xs-4 facebook_logo">

      <a href=""><img src="http://3.bp.blogspot.com/-ZEMBg7Sl--4/U8K3mJW2MPI/AAAAAAAAAYg/I6NRd4-wmIM/s1600/facebook-logo-png-white-5117.png" width="40px" height="40px"> </a>

    </div>

  </div>

</div>
<!-- END FRIENDLIST-ITEM -->

</div>

<!-- END FRIENDLIST -->




</div>

</div>

<!-- GRATCHCARD END -->




</div>
