
<div class="container">

<!-- GRATCHCARD START -->

<div class="row gratch_card">

  <div class="row gratch_preview">

    <div class="col-xs-4 card_picture">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suprb/128.jpg" class="img img-circle" width="70px" height="70px">
    </div>

    <div class="col-xs-8 card_details">
     <!--  <h4>Wien // 18.08.2014 // 7pm</h4> -->
      <h3>Paul</h3>
      <p>and 6 friends are hosting a<br><span class="party_type">HOUSEPARTY</span></p>
    </div>

  </div>

</div>


<div class="row gratch_header">
  <div class="col-xs-4">
    <p><i class="fa fa-calendar-o fa-2x"></i><br>18.08.2014</p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-clock-o fa-2x"></i><br>8.30pm</p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-home fa-2x"></i><br>Vienna</p>
  </div>

</div>

<div class="row gratch_header click_list">
  <div class="col-xs-4">
    <p><i class="fa fa-users fa-2x"></i><br>Paul's guests</p>
  </div>
  <div class="col-xs-4">
    <p><i class="fa fa-navicon fa-2x"></i><br>Gratch Details</p>
  </div>
  <div class="col-xs-4" style="color: #e74c3c">
    <p><i class="fa fa-check fa-2x"></i><br>Join them</p>
  </div>

</div>




</div>



<!-- GRATCHCARD END -->




</div>
