
<div class="container">

<!-- GRATCHCARD START -->
<div class="row gratch_card">

  <div class="row gratch_preview">

    <div class="col-xs-4">
      <img src="">
    </div>

    <div class="col-xs-8">
      <dir class="row"><h3>Paul</h3></dir>
      <dir class="row"><p>and 6 friends are hosting a</p></dir>
      <dir class="row"><h3>HOUSEPARTY</h3></dir>
    </div>

  </div>

  <div class="row gratch_detail">



  </div>

</div>
<!-- GRATCHCARD END -->


</div>
