
<body class="landing_body">

<div class="container">



  <div class="row logo_landing">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">

      <h1>GRATCH</h1>
      <div class="row symbols">

        <p><i class="fa fa-users fa-2x">  <i class="fa fa-plus"></i></i>  <i class="fa fa-glass fa-2x"></i>  <i class="fa fa-angle-double-right fa-2x"></i>  <i class="fa fa-heart fa-2x"></i></p>

      </div>
     <!--  <h4>WHERE GROUPS MATCH</h4> -->
    </div>
  </div>



</div>

</body>
