
$silver: #bdc3c7;
$clouds: #ecf0f1;
$midnightblue: #2c3e50;
$alizarin: #e74c3c;

$font1: 'Lato', sans-serif;
$font2: 'Raleway', sans-serif;


// BOOTSTRAP OVERWRITES

$navbar-inverse-color: $midnightblue;
$navbar-inverse-bg: rgba(0,0,0,0.0);
$navbar-inverse-border: none;
$navbar-inverse-link-color: $midnightblue;
$navbar-inverse-brand-color: $alizarin;
$navbar-margin-bottom: 5px;
$btn-primary-color: $clouds;
$btn-primary-bg: $midnightblue;
$btn-primary-border: $midnightblue;

// $navbar-inverse-toggle-icon-bar-bg: $midnightblue;
// $navbar-inverse-toggle-hover-bg: $midnightblue;

// BOOTSTRAP SASS VARIABLES GO BEFORE HERE
@import "bootstrap";


@media screen and (min-width: 300px) and (max-width: 700px) {

  h1 {
    font-size: 36px;
    font-family: $font2;
    font-weight: 800;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 0px;
    color: $alizarin;
    padding: 20px;

  }

  h2 {
    font-size: 18px;
    font-family: $font2;
  }

  h3 {
    font-size: 14px;
    margin-top: 19px;
    margin-bottom: 0px;
    font-family: $font2;
    font-weight: 800;
  }

  h4 {
    font-size: 10px;
    color: $alizarin;
    font-weight: 600;
    font-family: $font2;
    margin: 0px;
  }

  p {
    font-size: 10px;
    font-family: $font2;
  }


}





body {
  background-color: $silver;
  font-family: $font2 !important;

  &.landing_body {
    background-image: url('https://s3-us-west-2.amazonaws.com/gratch/bg01.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
}

.welcome {


}

.logo_landing {
  background: rgba(1,1,1,0.6);
  padding-top: 150px;
  height: 460px;
  h1 {
    padding-bottom: 5px;
    padding-top: 30px;
    margin-bottom: 0px;
  }

  h4 {
    color: $midnightblue;
    text-align: center;
    letter-spacing: 1px;
    margin: 0px 0px 20px 0px;
    font-size: 14px;
  }

  .symbols {

    p {
      text-align: center;
      padding-top: 0px;
      color: $clouds;
      margin-bottom: 30px;
      font-size: 14px;
    }
  }
}

.gratch {
  margin-bottom: 30px;
}

.card_picture {
  img {
    margin: 18px;
  }
}

.navbar-brand {
  font-weight: 700;
}

.facebook_login_content {
  background-color: $alizarin;
  height: 165px;
  text-align: center;

  h2 {
    color: $clouds;
    font-weight: 500;
  }

  p {
    font-size: 14px;
  }

  a:hover {
    background-color: $alizarin;
  }
}

.gratch_header {
   margin-bottom: 0px;
  background-color: $alizarin;
  color: $clouds;
  text-align: center;
  padding: 10px 0px;

  p {
    margin-bottom: 0px;
    font-size: 9px;
    font-weight: 700;
    font-family: $font1;
  }

  a {
    font-weight: 700;
    font-size: 11px;
    color: $clouds;
    background-color: $alizarin;
    padding: 0px;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 5px;
  }

  &.click_list {
    margin-bottom: 0px;
    background-color: $clouds;
    color: $midnightblue;
  }

}

.more_details {
  padding-bottom: 10px;
}

.gratch_card {
  background-color: $clouds;
  color: $midnightblue;

  button {
    font-size: 8px;
    font-family: $font2;
  }

  p {
    font-weight: 500;
    vertical-align: center;
  }

  .facebook_logo {
    img {
      text-align: center;
      margin-top: 32px;
      margin-left: 5px;
    }
  }


}

.card_details {
  padding-top: 8px;

  &.friend_list {
    margin-top: 19px;

    h3 {
      margin-top: 0px;
    }

    h4 {
      margin-top: 3px;
    }

  }

}

.party_type {
  color: $alizarin;
  font-weight: 600;
  font-size: 12px;
}
