
$silver: #bdc3c7;
$clouds: #ecf0f1;
$midnightblue: #2c3e50;
$alizarin: #e74c3c;

$font1: 'Lato', sans-serif;
$font2: 'Raleway', sans-serif;


// BOOTSTRAP OVERWRITES

$navbar-inverse-color: $midnightblue;
$navbar-inverse-bg: rgba(0,0,0,0.0);
$navbar-inverse-border: none;
$navbar-inverse-link-color: $midnightblue;
$navbar-inverse-brand-color: $alizarin;
$btn-primary-color: $clouds;
$btn-primary-bg: $midnightblue;
$btn-primary-border: $midnightblue;

// $navbar-inverse-toggle-icon-bar-bg: $midnightblue;
// $navbar-inverse-toggle-hover-bg: $midnightblue;

// BOOTSTRAP SASS VARIABLES GO BEFORE HERE
@import "bootstrap";


@media screen and (min-width: 300px) and (max-width: 700px) {


  h2 {
    font-size: 18px;
    font-family: $font2;
  }

  h3 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: $font2;
    font-weight: 800;
  }

  h4 {
    font-size: 8px;
    color: $midnightblue;
    font-weight: italic;
    font-family: $font2;
  }

  p {
    font-size: 10px;
    font-family: $font2;
  }


}





body {
  background-color: $silver;
  font-family: $font2 !important;
}


.card_picture {
  img {
    margin: 18px;
  }
}

.navbar-brand {
  font-weight: 700;
}

.gratch_header {
   margin-bottom: 30px;
  background-color: $alizarin;
  color: $clouds;
  text-align: center;
  padding: 10px 0px;

  p {
    margin-bottom: 0px;
    font-size: 9px;
    font-weight: 700;
    font-family: $font1;
  }

}

.more_details {
  padding-bottom: 10px;
}

.gratch_card {
  background-color: $clouds;
  color: $midnightblue;

  button {
    font-size: 8px;
    font-family: $font2;
  }

  p {
    font-weight: 500;
    vertical-align: center;
  }

  a {
    font-weight: 700;
    font-size: 9px;
    color: $clouds;
    background-color: $midnightblue;
    padding: 0px;
    width: 80%;
    display: block;
    text-align: center;
  }

}

.card_details {
  padding-top: 8px;

}

.party_type {
  color: $alizarin;
  font-weight: 600;
  font-size: 12px;
}
