
$silver: #bdc3c7;
$clouds: #ecf0f1;
$midnightblue: #2c3e50;
$alizarin: #e74c3c;

$font1: 'Lato', sans-serif;
$font2: 'Raleway', sans-serif;


// BOOTSTRAP OVERWRITES

$navbar-inverse-color: $midnightblue;
$navbar-inverse-bg: rgba(0,0,0,0.0);
$navbar-inverse-border: none;
$navbar-inverse-link-color: $midnightblue;
$navbar-inverse-brand-color: $alizarin;
$navbar-margin-bottom: 5px;
$btn-primary-color: $clouds;
$btn-primary-bg: $alizarin;
$btn-primary-border: $alizarin;

// $navbar-inverse-toggle-icon-bar-bg: $midnightblue;
// $navbar-inverse-toggle-hover-bg: $midnightblue;

// BOOTSTRAP SASS VARIABLES GO BEFORE HERE
@import "bootstrap";


@media screen and (min-width: 300px) and (max-width: 700px) {

  h1 {
    font-size: 36px;
    font-family: $font2;
    font-weight: 800;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 0px;
    color: $alizarin;
    padding: 20px;

  }

  h2 {
    font-size: 18px;
    font-family: $font2;
  }

  h3 {
    font-size: 14px;
    margin-top: 19px;
    margin-bottom: 0px;
    font-family: $font2;
    font-weight: 800;
  }

  h4 {
    font-size: 10px;
    color: $alizarin;
    font-weight: 600;
    font-family: $font2;
    margin: 0px;
  }

  p {
    font-size: 10px;
    font-family: $font2;
  }


}





body {
  background-color: $silver;
  font-family: $font2 !important;

  &.landing_body {
    background-image: url('https://s3-us-west-2.amazonaws.com/gratch/bg01.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
}

.welcome {


}

.logo_landing {
  background: rgba(1,1,1,0.6);
  padding-top: 150px;
  height: 460px;
  h1 {
    padding-bottom: 5px;
    padding-top: 30px;
    margin-bottom: 0px;
  }

  h4 {
    color: $midnightblue;
    text-align: center;
    letter-spacing: 1px;
    margin: 0px 0px 20px 0px;
    font-size: 14px;
  }

  .symbols {

    p {
      text-align: center;
      padding-top: 0px;
      color: $clouds;
      margin-bottom: 30px;
      font-size: 14px;
    }
  }
}

.gratch {
  margin-bottom: 30px;
}

.card_picture {
  img {
    margin: 18px;
  }
}

.navbar-brand {
  font-weight: 700;
}

.facebook_login_content {
  background-color: $alizarin;
  height: 165px;
  text-align: center;
  font-family: $font2;

  h2 {
    color: $clouds;
    font-weight: 500;
  }

  p {
    font-size: 14px;
  }

  a:hover {
    background-color: $alizarin;
  }
}

.gratch_application {

      color: $clouds;    h2 {

    }

  .myfriends {
    background-color: $alizarin;
    height: 150px;
    font-family: $font2;
  }

  .myfriends_list {
    background-color: $clouds;
    text-align: center;
    font-family: $font2;

    button {
      margin: 10px 0px 20px 0px;
      border-radius: 0px;
    }

    h2 {
      color: $alizarin;
      margin-top: 0px;
      padding-top: 20px;
      text-align: center;
    }

    p {
      color: $midnightblue;
    }

    .gratch_card {
      h3, h4 {
        text-align: left;
        margin: 0px;
      }

      .friends_list {
        margin-top: 30px;
      }

    }




  }

}

.gratch_header {
   margin-bottom: 0px;
  background-color: $alizarin;
  color: $clouds;
  text-align: center;
  padding: 10px 0px;

  p {
    margin-bottom: 0px;
    font-size: 9px;
    font-weight: 700;
    font-family: $font1;
  }

  a {
    font-weight: 700;
    font-size: 11px;
    color: $clouds;
    background-color: $alizarin;
    padding: 0px;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 5px;
  }

  &.click_list {
    margin-bottom: 0px;
    background-color: $clouds;
    color: $midnightblue;
  }

}

.more_details {
  padding-bottom: 10px;
}

.gratch_card {
  background-color: $clouds;
  color: $midnightblue;

  label {
    width: 100%;
  }

  button {
    font-size: 8px;
    font-family: $font2;
  }

  p {
    font-weight: 500;
    vertical-align: center;
  }

  .facebook_logo {
    img {
      text-align: center;
      margin-top: 32px;
      margin-left: 5px;
    }
  }
}

.card_details {
  padding-top: 8px;

  &.friend_list {
    margin-top: 19px;

    h3 {
      margin-top: 0px;
    }

    h4 {
      margin-top: 3px;
    }

  }

}

.party_type {
  color: $alizarin;
  font-weight: 600;
  font-size: 12px;
}

// STYLES FOR CHECKBOXES



.roundedTwo {
  padding-top: 40px;
  padding-right: 40px;
}

.form-control {
  width: 90%;
  height: 130px !important;
  margin: 0 auto;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  font-size: 12px;

}

.btn-primary {
  margin: 20px 0px;
  width: 90%;
  border-radius: 0px;
  font-weight: 500;
}

.extra_info {
  display: block;
  font-size: 8px;
  width: 90%;
  margin: 0 auto;
}

// /* ROUNDED TWO */
// .roundedTwo {
//   width: 28px;
//   height: 28px;
//   background: #fcfff4;

//   background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//   background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//   background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//   background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//   background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
//   margin: 20px auto;

//   -webkit-border-radius: 50px;
//   -moz-border-radius: 50px;
//   border-radius: 50px;

//   -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
//   -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
//   box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
//   position: relative;
// }

// .roundedTwo label {
//   cursor: pointer;
//   position: absolute;
//   width: 20px;
//   height: 20px;

//   -webkit-border-radius: 50px;
//   -moz-border-radius: 50px;
//   border-radius: 50px;
//   left: 4px;
//   top: 4px;

//   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
//   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
//   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

//   background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
//   background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
//   background: -o-linear-gradient(top, #222 0%, #45484d 100%);
//   background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
//   background: linear-gradient(top, #222 0%, #45484d 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
// }

// .roundedTwo label:after {
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//   filter: alpha(opacity=0);
//   opacity: 0;
//   content: '';
//   position: absolute;
//   width: 9px;
//   height: 5px;
//   background: transparent;
//   top: 5px;
//   left: 4px;
//   border: 3px solid #fcfff4;
//   border-top: none;
//   border-right: none;

//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   -ms-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

// .roundedTwo label:hover::after {
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
//   filter: alpha(opacity=30);
//   opacity: 0.3;
// }

// .roundedTwo input[type=checkbox]:checked + label:after {
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
//   filter: alpha(opacity=100);
//   opacity: 1;
// }
